<div class="container py-4">
  <div class="mb-5">
    <h1>Username Library</h1>
  </div>
  <div>
    <div class="title">
      <a href=""><h2>History</h2></a>
    </div>
    <div class="cards mb-5 mt-3">
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="title">
      <a href=""><h2>Library</h2></a>
    </div>
    <div class="cards mb-5 mt-3">
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="title">
      <a href=""><h2>Favorites</h2></a>
    </div>
    <div class="cards mb-5 mt-3">
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
      <div class="card-folder">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href=""><h2>Title here</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="title">
      <a href=""><h2>Achievements</h2></a>
    </div>
    <div class="achievements-cards mt-3">
      <div class="achievements-card-folder">
        <%= image_tag "monterey.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Jimi Hendrix - Badge Played 20 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "zakkwylde.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Zakk Wilde - Badge Play 50 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "bbking.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>B.b. King - Badge Play 100 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "johnlennon.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>John Lennon - Badge Played 150 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "kurtkobain.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Kurt Kobain - Badge Played 200 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "ericclapton.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Eric Clapton - Badge Played 250 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "jimmypage.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Jimmy Page - Badge Played 300 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "chuckberry.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Chuck Berry - Badge Played 350 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "jimmyhendrixwhite.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Jimi Hendrix - Badge Played 400 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "chuckberry2.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Chuck Berry - Badge Played 450 Solos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
