<div class="container py-4">
  <div class="mb-5">
    <h1>Username Library</h1>
     <%= link_to 'Create List', new_list_path, class: 'btn color-btn mb-2 rounded-btn-nav position-button' %>
  </div>
  <div>
    <div class="title">
      <a href=""><h2>History</h2></a>
    </div>
    <div class="cards mb-5 mt-3">
      <% @user.videos.reverse.last(5).each do |video| %>
        <div class="card-folder">
        <img src="<%= video.image_url %>"/>
        <div class="card-folder-infos">
          <div class="card-music-title">
            <a href="<%= user_video_path(user_id: @user, id: video.youtube_key) %>"><h2><%= video.title %></h2></a>
          </div>
        </div>
      </div>
      <% end %>
    </div>



<%# THIS IS THE LIST FROM  ACTIVE RECORD %>
  <% @user.lists.each do |list| %>
    <div>
      <div class="title">
      <a href=""><h2><%= list.name %></h2></a>
      </div>
      <div class="cards mb-5 mt-3">
        <% list.videos.each do |video| %>
         <div class="card-folder">
          <img src="<%= video.image_url %>"/>
          <div class="card-folder-infos">
            <div class="card-music-title">
              <a href="<%= user_video_path(user_id: @user, id: video.youtube_key) %>"><h2><%= video.title %></h2></a>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  <% end %>
<%# END HERE %>


 <a class="arrow mb-4" href="#top"><i class="fa-solid fa-arrow-up mb-5 ps-1"></i></a>

    <div class="title">
      <a href=""><h2>Achievements</h2></a>
    </div>
    <div class="achievements-cards mt-3">
      <div class="achievements-card-folder">
        <%= image_tag "monterey.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Jimi Hendrix - Badge Played 20 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "zakkwylde.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Zakk Wilde - Badge Play 50 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "bbking.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>B.b. King - Badge Play 100 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "johnlennon.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>John Lennon - Badge Played 150 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "kurtkobain.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Kurt Kobain - Badge Played 200 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "ericclapton.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Eric Clapton - Badge Played 250 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "jimmypage.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Jimmy Page - Badge Played 300 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "chuckberry.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Chuck Berry - Badge Played 350 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "jimmyhendrixwhite.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Jimi Hendrix - Badge Played 400 Solos</p>
          </div>
        </div>
      </div>
      <div class="achievements-card-folder">
        <%= image_tag "chuckberry2.jpg" %>
        <div class="achievements-card-folder-infos">
          <div>
            <p>Chuck Berry - Badge Played 450 Solos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
