<div class="form col-sm-12 col-md-6">
  <div class="container w-100">
    <div class="row justify-content-center form-signup">
      <div class="col-12">
        <h1 class="font-font">Save to new List</h1>
        <%= simple_form_for [list], data: { video_target: 'soloform'} do |f| %>
          <%= f.input :name, label: "List Name" %>
          <%= f.input :description, label: "List Description" %>
          <%= f.hidden_field :video_id, value: @params %>
          <% if @video %>
          <%= f.hidden_field :video, value: @video_id %>
          <% end %>
          <%= f.submit class:"btn color-btn rounded-btn-nav my-4"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
