<%# verificar se a youtube key da página está salva em algum video %>
<%# se estiver, redirecionar para a página do video já salvo %>
<%# se nao, para a página normal do vídeo %>



<div class="container-md mt-3"  data-controller="video" data-video-slug-value="<%= @params %>">
  <h1 class="font-color">Loop</h1>

  <div class="d-flex">
    <div id="video-container">
      <%# DIV PARA O IFRAME DO YOUTUBE %>
      <div id="player"></div>
      <div class="d-flex justify-content-around">
        <div class="btn btn-dark btn-lg btn-block disabled mt-3 rounded-btn-nav" data-video-target="start" data-action="click->video#markStart">Start Recording</div>
        <div type="button" class="btn btn-dark btn-lg btn-block disabled mt-3 ms-3 rounded-btn-nav" data-video-target="stop" data-action="click->video#markStop">Stop Recording</div>
      </div>
      <div data-video-target="message"></div>
    </div>
    <div class="w-100">
      <div class="height-test">
        <div class="font-color">
            <table class="w-100">
                <thead>
                    <tr>
                        <th>Mastered</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="solo-list" data-video-target="list">
                <% if @solos %>
                  <% @solos.each do |solo| %>
                  <tr data-action="click->video#setRowActive" data-video-target="row" data-video-start="<%= solo.starting_time %>" data-video-end="<%= solo.ending_time %>" data-solo-id="<%= solo.id %>">
                    <td class="container-td"><div>(mastered_img)</div></td>
                    <td class="container-td"><div><%= "%02d:%02d" % [solo.starting_time.to_i/60%60, solo.starting_time.to_i%60] %> - <%= "%02d:%02d" % [solo.ending_time.to_i/60%60, solo.ending_time.to_i%60] %></div></td>
                    <td><%= link_to "❌", solo_path(solo),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></td>
                  </tr>
                  <% end %>
                <% end %>
                </tbody>
            </table>
        </div>
        <% if @video %>
          <%= simple_form_for [@video], data: { video_target: 'soloform' } do |f| %>
                <%= f.hidden_field :video_id, value: @params %>
                <%= f.submit 'Update Solos', class:"btn rounded-btn-nav color-btn mb-5" %>
          <% end %>
        <% end %>
      </div>
      <div id="control" data-video-target="control"></div>
    </div>
  </div>

<div class="row">
  <% unless current_user %>
    <div class="form col-6">
          <div class="container">
            <div class="row form-signup">
              <div class="col-12 text-center">
                <h1 class="">To save your riff:</h1>
                <p class="card-product-p mt-3"><%= link_to "Sign Up", new_user_registration_path, class:"btn color-btn rounded-btn-nav" %>
                or
                <%= link_to "Login", new_user_session_path, class: "btn btn-dark rounded-btn-nav" %>
                </p>
              </div>
            </div>
          </div>
        </div>

  <% else %>
    <% if current_user && !current_user.lists.empty? %>
        <div class="form col-6">
          <div class="container w-100">
            <div class="row justify-content-center form-signup">
              <div class="col-12">
                <h1 class="">Save to existing List</h1>
              <%= simple_form_for [@catalog], data: { video_target: 'soloform' } do |f| %>
                <%= f.association :list, collection: List.where(user_id: current_user) %>
                <%= f.hidden_field :video_id, value: @params %>
                <%= f.submit 'Save Song', class:"btn rounded-btn-nav color-btn mb-5" %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form col-6">
        <div class="container w-100">
          <div class="row justify-content-center form-signup">
            <div class="col-12">
              <h1 class="">Save to new List</h1>
              <%= simple_form_for [@list], data: { video_target: 'soloform'} do |f| %>
                <%= f.input :name, label: "List Name" %>
                <%= f.input :description, label: "List Description" %>
                <%= f.hidden_field :video_id, value: @params %>
                <%= f.submit class:"btn color-btn rounded-btn-nav m-4"  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

  <% end %>
      </div>

</div>
