<!DOCTYPE html>
<html>
  <head>
    <title>RiffAlong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel = "icon" href ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTE-sdaYX8npGKK0jIS0ZYIji1ZU2ctfep8BSII1c&s" type = "image/x-icon">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://www.youtube.com/iframe_api"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <%= render "shared/navbar" %>

  <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" %>

  </body>
</html>
