<!DOCTYPE html>
<html>
  <head>

    <%= render "/shared/title" %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The RiffAlong helps musicians who wants to practice guitar or any other instrument by looping through the part of the song they want to learn.">
    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X1YTVD2GL1"></script>
    <script>



    </script>

    <!-- End Google Tag Manager -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel = "icon" href ="<%= image_path('guitar2.png') %>" type = "image/x-icon">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MM2D5QB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div id="body-container">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
